
Skip to content

    Pull requests
    Issues
    Marketplace
    Explore

    @legrandgrand

0
0

    0

Rekwyn/computer-database
Code
Issues 0
Pull requests 0
Projects 0
Wiki
Insights
computer-database/.gitignore
175d02b 4 days ago
@Rekwyn Rekwyn Create .gitignore
57 lines (46 sloc) 462 Bytes
#
# Project specific excludes
#

tomcat

#
# Default excludes
#

# Binaries
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.war
*.ear
*.sar
*.class

# Maven 
target/

# IntelliJ project files 
*.iml
*.iws
*.ipr
.idea/

# eclipse project file
.settings/
.setting
.classpath
.project
.tern-project

# NetBeans specific
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml


# OS
.DS_Store

# Misc
*.swp
release.properties
pom.xml.releaseBackup
pom.xml.tag

    © 2019 GitHub, Inc.
    Terms
    Privacy
    Security
    Status
    Help

    Contact GitHub
    Pricing
    API
    Training
    Blog
    About

Press h to open a hovercard with more details.

